<div class="home">
  <div class="lead">
    <div class="container">
      <h1><%= __('index.title') %></h1>
    </div>
  </div>
  <div class="main-content">
    <div class="container">
      <ul class="post-list">
        <% page.posts.forEach(function(post) { %>
          <%- partial('@/post-item', {post: post}) %>
        <% }) %>
      </ul>
    </div>
  </div>
</div>