.archive-map
  display flex
  margin 1rem 0
  .archive-list
    margin 1rem 0 0
    padding-bottom 1rem
    border-bottom 1px solid lightness($fontColor, 90%)
  .archive-list-year
    margin 0
  a
    text-decoration none
  a.active
    color $fontColor
    font-size 2rem
  .archive-list-months
    margin 0
    padding 0
    list-style: none
    display flex
    flex-flow row wrap
    font-size 0.9rem
      
  