.lead
  display flex
  align-items center
  justify-content space-around
  align-content space-around
  background radial-gradient(lightness($linkColor, 45%), $linkColor)
  color $backgroundColor
  text-transform uppercase
  text-align center
  h1
    font-weight 300
  p
    text-align center
    line-height 1.5
.lead
  .category-link
    color $backgroundColor
    text-decoration none