.post
  .post-meta
    display flex
    flex-flow column nowrap
    align-content justify
.post
  .post-excerpt
    font-size 1.2rem
    color lightness($fontColor, 20%)
    text-align justify
  .post-content
    p
      text-align justify