$linkColor = #c70b2a
$fontColor = #000
$backgroundColor = #fff
html
  font-family 'Muli'

a
  color $linkColor

.container
  padding 0 1rem
.collapse
  display none

dt
  font-weight bold
  margin-right 0.5rem
dd
  margin 0

.inline
  display flex
  flex-flow row wrap

.sidebar
  display flex
  flex-flow row wrap

.squared-list
  list-style square inside

.copyright
  font-size 0.9rem
@import "_navbar"
@import "_lead"
@import "_post-list"
@import "_paginator"
@import "_post"
@import "_highlight"
@import "_category_list"
@import "_panel"
@import "_archive_map"