$linkColor = #c70b2a
$fontColor = #000
$backgroundColor = #fff
html
  font-size 14px
  font-family 'Muli'

a
  color $linkColor

.container
  padding 0 1rem
.collapse
  display none

@import "navbar"
@import "lead"
@import "post-list"