$linkColor = #c70b2a
$fontColor = #000
$backgroundColor = #fff
html
  font-size 14px
  font-family 'Muli'

a
  color $linkColor

.container
  padding 0 1rem
.collapse
  display none

dt
  font-weight bold
  margin-right 0.5rem
dd
  margin 0

.inline
  display flex
  flex-flow row wrap
    
@import "navbar"
@import "lead"
@import "post-list"
@import "paginator"
@import "post"
@import "highlight"