<aside class="panel">
  <h4><%= __('stay_in_touch') %></h4>
  <% if(config.twitter_id) { %>
    <a class="twitter-follow-button" href="https://twitter.com/<%= config.twitter_id %>" data-size="large" data-show-screen-name="false">Follow @TwitterDev</a>
  <% } %>
</aside>